# CALIDAD DE DATOS

## IMPORTAR PAQUETES

In [2]:
import numpy as np
import pandas as pd
from janitor import clean_names

## IMPORTAR LOS DATOS

Ruta del proyecto.

In [3]:
ruta_proyecto = 'C:/Users/Alfonso/OneDrive/Documentos_/Formación/Bootcamp_DS/Repo_DS/Proyect_Break_ML/00_PROYECTO_ML'

Nombre_fichero_datos.

In [4]:
nombre_fichero_datos = 'trabajo.csv'

Cargar los datos.

In [5]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa,index_col=0)
df

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
1640,1954,Graduation,Divorced,64587.0,1,1,2014-06-22,49,66,0,...,3,0,0,0,0,0,0,3,11,0
977,1957,Graduation,Together,47320.0,0,1,2013-08-01,10,200,19,...,6,0,0,0,0,0,0,3,11,0
10150,1961,Graduation,Single,86429.0,0,0,2013-11-21,10,464,28,...,2,0,0,0,1,0,0,3,11,1
8181,1978,2n Cycle,Single,38593.0,1,0,2013-09-13,42,51,12,...,8,0,0,0,0,0,0,3,11,0
1399,1958,Graduation,Married,72905.0,0,0,2014-01-21,52,407,114,...,1,0,0,0,1,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10785,1969,Graduation,Married,44078.0,1,1,2014-06-19,17,24,1,...,5,0,0,0,0,0,0,3,11,0
9964,1979,Graduation,Single,61825.0,0,1,2013-08-07,56,162,50,...,4,0,0,0,0,0,0,3,11,0
3412,1951,Master,Married,67381.0,0,1,2013-01-15,67,815,8,...,7,0,1,0,0,0,0,3,11,0
2811,1963,PhD,Single,48918.0,1,1,2014-04-12,21,52,0,...,4,0,0,0,0,0,0,3,11,0
4297,1969,Graduation,Together,23228.0,1,0,2014-01-26,71,13,2,...,8,0,0,0,0,0,0,3,11,0

## CORRECCIÓN DE NOMBRES DE VARIABLES

### Corrección automática

In [6]:
df = clean_names(df)
df

,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,mntfruits,...,numwebvisitsmonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response
ID,,,,,,,,,,,,,,,,,,,,,
1640,1954,Graduation,Divorced,64587.0,1,1,2014-06-22,49,66,0,...,3,0,0,0,0,0,0,3,11,0
977,1957,Graduation,Together,47320.0,0,1,2013-08-01,10,200,19,...,6,0,0,0,0,0,0,3,11,0
10150,1961,Graduation,Single,86429.0,0,0,2013-11-21,10,464,28,...,2,0,0,0,1,0,0,3,11,1
8181,1978,2n Cycle,Single,38593.0,1,0,2013-09-13,42,51,12,...,8,0,0,0,0,0,0,3,11,0
1399,1958,Graduation,Married,72905.0,0,0,2014-01-21,52,407,114,...,1,0,0,0,1,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10785,1969,Graduation,Married,44078.0,1,1,2014-06-19,17,24,1,...,5,0,0,0,0,0,0,3,11,0
9964,1979,Graduation,Single,61825.0,0,1,2013-08-07,56,162,50,...,4,0,0,0,0,0,0,3,11,0
3412,1951,Master,Married,67381.0,0,1,2013-01-15,67,815,8,...,7,0,1,0,0,0,0,3,11,0
2811,1963,PhD,Single,48918.0,1,1,2014-04-12,21,52,0,...,4,0,0,0,0,0,0,3,11,0
4297,1969,Graduation,Together,23228.0,1,0,2014-01-26,71,13,2,...,8,0,0,0,0,0,0,3,11,0

## VISIÓN GENERAL

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1568 entries, 1640 to 4297
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year_birth           1568 non-null   int64
 1   education            1568 non-null   object
 2   marital_status       1568 non-null   object
 3   income               1552 non-null   float64
 4   kidhome              1568 non-null   int64
 5   teenhome             1568 non-null   int64
 6   dt_customer          1568 non-null   object
 7   recency              1568 non-null   int64
 8   mntwines             1568 non-null   int64
 9   mntfruits            1568 non-null   int64
 10  mntmeatproducts      1568 non-null   int64
 11  mntfishproducts      1568 non-null   int64
 12  mntsweetproducts     1568 non-null   int64
 13  mntgoldprods         1568 non-null   int64
 14  numdealspurchases    1568 non-null   int64
 15  numwebpurchases      1568 non-null   int64
 16  numcatalogpurchases  1568 non-null   int64
 17  numstorepurchases    1568 non-null   int64
 18  numwebvisitsmonth    1568 non-null   int64
 19  acceptedcmp3         1568 non-null   int64
 20  acceptedcmp4         1568 non-null   int64
 21  acceptedcmp5         1568 non-null   int64
 22  acceptedcmp1         1568 non-null   int64
 23  acceptedcmp2         1568 non-null   int64
 24  complain             1568 non-null   int64
 25  z_costcontact        1568 non-null   int64
 26  z_revenue            1568 non-null   int64
 27  response             1568 non-null   int64
dtypes: float64(1), int64(24), object(3)
memory usage: 355.2+ KB

## TIPOS DE DATOS

### Identificación

In [8]:
df.dtypes

year_birth               int64
education               object
marital_status          object
income                 float64
kidhome                  int64
teenhome                 int64
dt_customer             object
recency                  int64
mntwines                 int64
mntfruits                int64
mntmeatproducts          int64
mntfishproducts          int64
mntsweetproducts         int64
mntgoldprods             int64
numdealspurchases        int64
numwebpurchases          int64
numcatalogpurchases      int64
numstorepurchases        int64
numwebvisitsmonth        int64
acceptedcmp3             int64
acceptedcmp4             int64
acceptedcmp5             int64
acceptedcmp1             int64
acceptedcmp2             int64
complain                 int64
z_costcontact            int64
z_revenue                int64
response                 int64
dtype: object

### Corrección

In [9]:
df = df.astype({'dt_customer':'datetime64[ns]'})

df.dtypes

year_birth                      int64
education                      object
marital_status                 object
income                        float64
kidhome                         int64
teenhome                        int64
dt_customer            datetime64[ns]
recency                         int64
mntwines                        int64
mntfruits                       int64
mntmeatproducts                 int64
mntfishproducts                 int64
mntsweetproducts                int64
mntgoldprods                    int64
numdealspurchases               int64
numwebpurchases                 int64
numcatalogpurchases             int64
numstorepurchases               int64
numwebvisitsmonth               int64
acceptedcmp3                    int64
acceptedcmp4                    int64
acceptedcmp5                    int64
acceptedcmp1                    int64
acceptedcmp2                    int64
complain                        int64
z_costcontact                   int64
z_revenue                       int64
response                        int64
dtype: object

## VALORES ÚNICOS

### Identificación

In [10]:
df.nunique().sort_values()

z_revenue                 1
z_costcontact             1
response                  2
acceptedcmp3              2
acceptedcmp4              2
acceptedcmp5              2
acceptedcmp2              2
acceptedcmp1              2
complain                  2
teenhome                  3
kidhome                   3
education                 5
marital_status            8
numcatalogpurchases      14
numwebpurchases          14
numstorepurchases        14
numdealspurchases        15
numwebvisitsmonth        16
year_birth               56
recency                 100
mntfruits               148
mntsweetproducts        163
mntfishproducts         170
mntgoldprods            199
mntmeatproducts         486
dt_customer             619
mntwines                643
income                 1431
dtype: int64

### Corrección

Eliminación de columnas con una cardinalidad de 1

In [11]:
df.drop(columns = ['z_revenue','z_costcontact'], inplace = True)

## DUPLICADOS

### Identificación

In [12]:
df.duplicated().sum()

87

### Corrección

In [13]:
df.drop_duplicates(inplace = True)

## SEPARAR NUMÉRICAS Y CATEGÓRICAS

### Categóricas

In [14]:
cat = df.select_dtypes(exclude = 'number').copy()

In [15]:
cat = cat.drop(columns='dt_customer')

### Numéricas

In [16]:
num = df.select_dtypes(include='number').copy()

## GESTIÓN DE CATEGÓRICAS

### Nulos

#### Identificación

In [17]:
cat.isna().sum().sort_values(ascending = False)

education         0
marital_status    0
dtype: int64

### Atípicos

#### Categorías poco frecuentes

In [26]:
def frecuencias_cat(df_cat):
    resultado = df_cat.apply(lambda x: x.value_counts(normalize = True)).T.stack()\
                .to_frame().reset_index()\
                .rename(columns={'level_0':'Variable','level_1':'Valor',0: "Frecuencia"})\
                .sort_values(by = ['Variable','Frecuencia'])
    return(resultado)

In [27]:
frecuencias_cat(cat)

          Variable       Valor  Frecuencia
1        education       Basic    0.024308
0        education    2n Cycle    0.092505
3        education      Master    0.157326
4        education         PhD    0.217421
2        education  Graduation    0.508440
5   marital_status      Absurd    0.000675
12  marital_status        YOLO    0.001350
6   marital_status       Alone    0.002026
11  marital_status       Widow    0.031735
7   marital_status    Divorced    0.101283
9   marital_status      Single    0.211344
10  marital_status    Together    0.258609
8   marital_status     Married    0.392978

##### Función para agrupar categorías raras en 'OTROS'

In [28]:
def agrupar_cat_raras(variable, criterio = 0.05):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que están por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    #Devuelve el resultado
    return(temp2)

In [29]:
cat['marital_status']= agrupar_cat_raras(cat['marital_status'],criterio=0.02)

In [30]:
frecuencias_cat(cat)

          Variable       Valor  Frecuencia
1        education       Basic    0.024308
0        education    2n Cycle    0.092505
3        education      Master    0.157326
4        education         PhD    0.217421
2        education  Graduation    0.508440
7   marital_status       OTROS    0.004051
10  marital_status       Widow    0.031735
5   marital_status    Divorced    0.101283
8   marital_status      Single    0.211344
9   marital_status    Together    0.258609
6   marital_status     Married    0.392978

## GESTIÓN DE NUMÉRICAS

### Nulos

#### Identificación

In [33]:
num.isna().sum().sort_values(ascending = False)

income                 16
year_birth              0
numwebpurchases         0
complain                0
acceptedcmp2            0
acceptedcmp1            0
acceptedcmp5            0
acceptedcmp4            0
acceptedcmp3            0
numwebvisitsmonth       0
numstorepurchases       0
numcatalogpurchases     0
numdealspurchases       0
mntgoldprods            0
mntsweetproducts        0
mntfishproducts         0
mntmeatproducts         0
mntfruits               0
mntwines                0
recency                 0
teenhome                0
kidhome                 0
response                0
dtype: int64

##### Imputar por la mediana

###### Variables a imputar

In [39]:
var_imputar_mediana = ['income']

###### Funcion para imputar con la mediana

In [40]:
def imputar_mediana(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

###### Imputar con la mediana

In [41]:
num[var_imputar_mediana] = num[var_imputar_mediana].apply(imputar_mediana)

### Atípicos

#### Por desviación típica

##### Identificación

###### Definir el número de desviaciones típicas

In [42]:
num_desv_tip = 4

###### Función que devuelve los índices de los atípicos

In [43]:
def atipicos_desv_tip(variable, num_desv_tip = 4):
    #sacamos los nulos por ahora
    variable = variable.dropna()
    #calculamos los límites
    media = np.mean(variable)
    sd = np.std(variable)
    umbral = sd * num_desv_tip
    lim_inf = media - umbral
    lim_sup = media + umbral
    #encontramos los índices de los que están fuera de los límites
    indices = [indice for indice,valor in variable.items() if valor < lim_inf or valor > lim_sup]
    return(indices)

###### Función que cuenta el número de atípicos

In [44]:
def conteo_atipicos(df,variable, num_desv_tip = 4):
    atipicos = atipicos_desv_tip(df[variable], num_desv_tip)
    return(df.loc[atipicos,variable].value_counts())

###### Variables a aplicar

In [45]:
var_atipicos_dt = ['income','year_birth','mntgoldprods','mntsweetproducts','mntfishproducts','mntmeatproducts','mntfruits','mntwines','numwebvisitsmonth', 'numstorepurchases','numcatalogpurchases','numdealspurchases']

###### Aplicar

In [46]:
for variable in var_atipicos_dt:
    print('\n' + variable + ':\n')
    print(conteo_atipicos(num,variable,num_desv_tip))

income:

income
666666.0    1
160803.0    1
Name: count, dtype: int64

year_birth:

year_birth
1899    1
Name: count, dtype: int64

mntgoldprods:

mntgoldprods
362    1
262    1
291    1
Name: count, dtype: int64

mntsweetproducts:

mntsweetproducts
194    3
192    2
263    1
262    1
195    1
Name: count, dtype: int64

mntfishproducts:

mntfishproducts
258    2
259    1
Name: count, dtype: int64

mntmeatproducts:

mntmeatproducts
1725    2
1607    1
1582    1
1622    1
Name: count, dtype: int64

mntfruits:

mntfruits
197    1
193    1
199    1
Name: count, dtype: int64

mntwines:

Series([], Name: count, dtype: int64)

numwebvisitsmonth:

numwebvisitsmonth
20    3
19    2
17    1
Name: count, dtype: int64

numstorepurchases:

Series([], Name: count, dtype: int64)

numcatalogpurchases:

numcatalogpurchases
28    3
22    1
Name: count, dtype: int64

numdealspurchases:

numdealspurchases
15    6
11    4
12    3
13    2
Name: count, dtype: int64

#### Winsorización automática para múltiples variables

##### Variables a winsorizar.

In [53]:
var_winsorizar = ['income','year_birth','mntgoldprods','mntsweetproducts','mntfishproducts','mntmeatproducts','mntfruits','mntwines','numwebvisitsmonth', 'numstorepurchases','numcatalogpurchases','numdealspurchases']

##### Definir los percentiles mínimos y máximos.

In [54]:
p_min = 0.01
p_max = 0.996

##### Aplicar

In [55]:
# Winsorización automática para cada variable
for variable in var_winsorizar:
    print(f"Procesando la variable: {variable}")
    
    # Calcula los cuantiles para cada variable
    lower_quantile = num[variable].quantile(p_min)
    upper_quantile = num[variable].quantile(p_max)
    
    # Si la columna es de tipo Int64, redondea los cuantiles a enteros
    if pd.api.types.is_integer_dtype(num[variable]):
        lower_quantile = int(round(lower_quantile))
        upper_quantile = int(round(upper_quantile))
        print(f"Cuantiles redondeados para la variable de tipo Int64 '{variable}': {lower_quantile}, {upper_quantile}")
    else:
        print(f"Cuantiles para la variable de tipo Float '{variable}': {lower_quantile}, {upper_quantile}")
    
    # Aplica la winsorización utilizando los cuantiles como límites
    num[variable] = num[variable].clip(lower=lower_quantile, upper=upper_quantile)

    # Imprimir los resultados después de la winsorización
    print(f"Resultados después de la winsorización para la variable '{variable}':")
    print(num[variable].describe())
    print()

Procesando la variable: income
Cuantiles para la variable de tipo Float 'income': 7500.0, 110428.79999999925
Resultados después de la winsorización para la variable 'income':
count      1481.000000
mean      51570.927346
std       20937.919821
min        7500.000000
25%       34961.000000
50%       51012.000000
75%       67506.000000
max      110428.800000
Name: income, dtype: float64

Procesando la variable: year_birth
Cuantiles redondeados para la variable de tipo Int64 'year_birth': 1945, 1994
Resultados después de la winsorización para la variable 'year_birth':
count    1481.000000
mean     1969.081702
std        11.736727
min      1945.000000
25%      1959.000000
50%      1970.000000
75%      1978.000000
max      1994.000000
Name: year_birth, dtype: float64

Procesando la variable: mntgoldprods
Cuantiles redondeados para la variable de tipo Int64 'mntgoldprods': 0, 242
Resultados después de la winsorización para la variable 'mntgoldprods':
count    1481.000000
mean       43.586090
std        51.141822
min         0.000000
25%         8.000000
50%        25.000000
75%        56.000000
max       242.000000
Name: mntgoldprods, dtype: float64

Procesando la variable: mntsweetproducts
Cuantiles redondeados para la variable de tipo Int64 'mntsweetproducts': 0, 191
Resultados después de la winsorización para la variable 'mntsweetproducts':
count    1481.000000
mean       26.929102
std        40.725992
min         0.000000
25%         1.000000
50%         8.000000
75%        34.000000
max       191.000000
Name: mntsweetproducts, dtype: float64

Procesando la variable: mntfishproducts
Cuantiles redondeados para la variable de tipo Int64 'mntfishproducts': 0, 240
Resultados después de la winsorización para la variable 'mntfishproducts':
count    1481.000000
mean       37.183660
std        54.096548
min         0.000000
25%         3.000000
50%        12.000000
75%        49.000000
max       240.000000
Name: mntfishproducts, dtype: float64

Procesando la variable: mntmeatproducts
Cuantiles redondeados para la variable de tipo Int64 'mntmeatproducts': 2, 965
Resultados después de la winsorización para la variable 'mntmeatproducts':
count    1481.000000
mean      167.819716
std       224.498478
min         2.000000
25%        15.000000
50%        64.000000
75%       231.000000
max       965.000000
Name: mntmeatproducts, dtype: float64

Procesando la variable: mntfruits
Cuantiles redondeados para la variable de tipo Int64 'mntfruits': 0, 180
Resultados después de la winsorización para la variable 'mntfruits':
count    1481.000000
mean       26.252532
std        39.681498
min         0.000000
25%         1.000000
50%         8.000000
75%        33.000000
max       180.000000
Name: mntfruits, dtype: float64

Procesando la variable: mntwines
Cuantiles redondeados para la variable de tipo Int64 'mntwines': 1, 1388
Resultados después de la winsorización para la variable 'mntwines':
count    1481.000000
mean      298.419311
std       338.462574
min         1.000000
25%        22.000000
50%       163.000000
75%       493.000000
max      1388.000000
Name: mntwines, dtype: float64

Procesando la variable: numwebvisitsmonth
Cuantiles redondeados para la variable de tipo Int64 'numwebvisitsmonth': 1, 12
Resultados después de la winsorización para la variable 'numwebvisitsmonth':
count    1481.000000
mean        5.302498
std         2.342971
min         1.000000
25%         3.000000
50%         6.000000
75%         7.000000
max        12.000000
Name: numwebvisitsmonth, dtype: float64

Procesando la variable: numstorepurchases
Cuantiles redondeados para la variable de tipo Int64 'numstorepurchases': 1, 13
Resultados después de la winsorización para la variable 'numstorepurchases':
count    1481.000000
mean        5.711681
std         3.241193
min         1.000000
25%         3.000000
50%         5.000000
75%         8.000000
max        13.000000
Name: numstorepurchases, dtype: float64

Procesando la variable: numcatalogpurchases
Cuantiles redondeados para la variable de tipo Int64 'numcatalogpurchases': 0, 11
Resultados después de la winsorización para la variable 'numcatalogpurchases':
count    1481.000000
mean        2.641458
std         2.835420
min         0.000000
25%         0.000000
50%         2.000000
75%         4.000000
max        11.000000
Name: numcatalogpurchases, dtype: float64

Procesando la variable: numdealspurchases
Cuantiles redondeados para la variable de tipo Int64 'numdealspurchases': 0, 13
Resultados después de la winsorización para la variable 'numdealspurchases':
count    1481.000000
mean        2.305874
std         1.913049
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        13.000000
Name: numdealspurchases, dtype: float64

## GUARDADO DATASETS TRAS CALIDAD DE DATOS

In [62]:
# Uno los dataset:
df_calidad = pd.concat((cat,num),axis=1)

### Definir los nombres de los archivos

In [58]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'num_resultado_calidad.pickle'

### Guardar los archivos

In [59]:
df_calidad.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)